body{
  text-align: center;
}
.linesContainer {
  margin: auto;
  width: 100%;
}
ul#hList li {
  display: inline-block;
}
.line {
  transition: 0.01s all ease;
  vertical-align: top;
  background-color: #4d5061;
  width: 7px;
  height: 10px;
  margin: 3px;
}
.line.selected.match {
  background-color: green;
}
.line.selected {
  background-color: red;
}
.line.done {
  background-color: green;
}
